<div class="row">
    <div class="col-xs-12">
        <img src={{detailedRecipe.imagePath}} alt={{detailedRecipe.name}} class="image-responsive" style="max-height: 200px;" >
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ detailedRecipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="addIngredientsToShoppingList()" style="cursor: pointer;">To shopping list</a></li>
                <li><a style="cursor: pointer;">Edit recipe</a></li>
                <li><a style="cursor: pointer;">Delete recipe></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ detailedRecipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ing of detailedRecipe.ingredients">{{ ing.name }} - {{ ing.amount }}</li>
        </ul>
    </div>
</div>
